* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}
.navbar {
  background-color: #2596be;
  color: white;
}

.navbar-brand {
  font-size: 1.5rem;
}

.infromasisatu {
  height: auto;
  max-height: 300px;
  width: 100%;
  max-width: 500px;
}

.infromasidua {
  height: auto;
  max-height: 400px;
  width: 100%;
  max-width: 500px;
}

.fitur {
  height: auto;
  max-height: 100px;
  width: 100%;
  max-width: 100px;
  margin: 1rem;
}
.kalku {
  padding: 5px;
}

/* Testimoni */
.client {
  width: 100%;
  height: 100%;
}

.carousel-icon i {
  font-size: 5rem;
}

.carousel-item i {
  font-size: 1.6rem;
  color: black;
}

.t-card {
  padding: 1.8125rem 1.125rem;
  background-color: #cde0f3;
  border-radius: 1.25rem;
  font-size: 1.25rem;
  color: black;
  height: auto;
}

/* Testimoni */

/* Footer */

/* Footer */

/* Login */
.login {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.logo-login {
  max-width: 300px;
  width: 100%;
  margin: 3rem;
  border: none;
}
.daftarsekarang {
  text-decoration: none;
}
#login {
  background-image: url('/images/bglogin.jpg');
}
/* Login */

textarea {
  padding: 10px 12px;
}

#vertical {
  transform: rotate(90deg);
  width: auto;
  margin-top: 4rem;
  color: black;
  background-color: black;
  height: 0.5rem;
}
