* {
  margin: 0;
  padding: 0;
}

.btn:hover {
  font-weight: bolder;
}
.btn-outline-success {
  border: none;
}

/* Body */
body {
  font-family: 'Montserrat', sans-serif;
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 3px solid black;
}
/* Body */

.pembatas {
  color: black;
  height: 0.2rem;
  background-color: black;
}

/* Navbar */
.navbar {
  background-color: #2596be;
  color: white;
}

.navbar-brand {
  font-size: 1.5rem;
}
.button-login-nav {
  background-color: #0066a6 !important;
}
.bordernav {
  border-right: solid white;
}
.margin-nav {
  margin-left: 0.5rem;
}
/* Navbar */

/* Fitur */
.fitur {
  height: auto;
  max-height: 100px;
  width: 100%;
  max-width: 100px;
  margin: 1rem;
}
.kalku {
  padding: 5px;
}
/* Fitur */

/* Informasi */
.infromasisatu {
  height: auto;
  max-height: 300px;
  width: 100%;
  max-width: 500px;
}

.infromasidua {
  height: auto;
  max-height: 400px;
  width: 100%;
  max-width: 500px;
}
/* Insformasi */

/* Testimoni */
.client {
  width: 100%;
  height: 100%;
}

.carousel-icon i {
  font-size: 5rem;
}

.carousel-item i {
  font-size: 1.6rem;
  color: black;
}

.t-card {
  padding: 1.8125rem 1.125rem;
  background-color: #e5eef7;
  border-radius: 1.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
  height: auto;
}

/* Testimoni */

/* Footer */

/* Footer */

/* Login */
.login {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.logo-login {
  max-width: 300px;
  width: 100%;
  margin: 3rem;
  border: none;
}
.daftarsekarang {
  text-decoration: none;
}
#login {
  background-image: url('/images/bglogin.jpg');
}

.button-login {
  background-color: #3194d1 !important;
}
.link-login {
  color: #3194d1 !important;
}
.icon-login {
  color: #3194d1;
}
/* Login */

/* Penyaktit & Obat */
#vertical {
  transform: rotate(90deg);
  width: auto;
  margin-top: 4rem;
  color: black;
  background-color: black;
  height: 0.5rem;
}
.sec-penyakitobat {
  height: 24.5vh;
}
/* Penyaktit & Obat */

/* Media Query Smartphone*/
@media only screen and (min-width: 319px) and (max-width: 667px) {
  #vertical {
    transform: rotate(0deg);
    width: auto;
    color: black;
    background-color: black;
  }
  .sec-penyakitobat {
    height: auto;
    margin-bottom: 4rem;
  }

  .logo-login {
    max-width: 150px;
    width: 100%;
    margin: 1rem;
    border: none;
  }
  .bordernav {
    border-right: none;
  }
  .margin-nav {
    margin: 0;
  }
  .triangle {
    display: none;
  }
}
/* tanya dokter */
#dokter1 {
  height: auto;
  max-height: 200px;
  width: 100%;
  max-width: 200px;
}

#hubungi {
  margin-top: 9rem;
}

.btn-rata {
  width: 30px;
  height: 30px;
}

.btn-dokter:hover {
  background-color: none;
}

/* Media Query Halaman Kalkulator */
@media only screen and (min-width: 600px) {
  .mediaqOC {
    margin-left: 530px;
    margin-top: 4%;
    width: 30%;
    height: 85%;
  }

  .mediaqOC1 {
    margin-right: 545px;
    margin-top: 4%;
    width: 30%;
    height: 85%;
  }

  .mediaqOC2 {
    margin-left: 530px;
    margin-top: 4%;
    width: 30%;
  }
}
/* End Media Query Halaman Kalkulator */

/* Media Query Halaman cek rumkit  */
@media only screen and (min-width: 600px) {
  .mediaqOC {
    margin-left: 530px;
    margin-top: 4%;
    width: 30%;
    height: 85%;
  }
  .mediaqI {
    width: 50%;
  }
}
/* End Media Query Halaman cek rumkit  */
