* {
  margin: 0;
  padding: 0;
}

.btn:hover {
  font-weight: bolder;
}
.btn-outline-success {
  border: none;
}

/* Body */
body {
  font-family: 'Montserrat', sans-serif;
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 20px;
  border: 3px solid black;
}
/* Body */

.pembatas {
  color: black;
  height: 0.2rem;
  background-color: black;
}

/* Navbar */
.navbar {
  background-color: #2596be;
  color: white;
}

.navbar-brand {
  font-size: 1.5rem;
}
.button-login-nav {
  background-color: #0066a6 !important;
}
.button-login-nav:hover {
  background-color: #0066a6 !important;
  color: white;
}
.bordernav {
  border-right: solid white;
}
.margin-nav {
  margin-left: 0.5rem;
}
/* Navbar */

/* Fitur */
.fitur {
  height: auto;
  max-height: 100px;
  width: 100%;
  max-width: 100px;
  margin: 1rem;
}
.kalku {
  padding: 5px;
}
/* Fitur */

/* Informasi */
.infromasisatu {
  height: auto;
  max-height: 300px;
  width: 100%;
  max-width: 500px;
}

.infromasidua {
  height: auto;
  max-height: 400px;
  width: 100%;
  max-width: 500px;
}
/* Insformasi */

/* Testimoni */
.client {
  width: 100%;
  height: 100%;
}

.carousel-icon i {
  font-size: 5rem;
}

.carousel-item i {
  font-size: 1.6rem;
  color: black;
}

.t-card {
  padding: 1.8125rem 1.125rem;
  background-color: #e5eef7;
  border-radius: 1.25rem;
  font-size: 1.25rem;
  font-weight: bold;
  color: black;
  height: auto;
}

/* Testimoni */

/* Footer */
.btn-floating:hover {
  color: #2596be;
}
/* Footer */

/* Login */
.login {
  margin: 0 auto;
  max-width: 1000px;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}
.logo-login {
  max-width: 300px;
  width: 100%;
  margin: 3rem;
  border: none;
}
.daftarsekarang {
  text-decoration: none;
}
#login {
  background-color: #0066a6;
}

.button-login {
  background-color: #0066a6 !important;
}
.link-login {
  color: #0066a6 !important;
  opacity: 50%;
}
.link-login:hover {
  opacity: 100%;
  color: #0066a6 !important;
  text-decoration: underline;
}
.icon-login {
  color: #0066a6;
}
.label-daftar {
  font-size: 0.8em;
}
/* Login */

/* Penyakit & Obat */
#vertical {
  transform: rotate(90deg);
  width: auto;
  margin-top: 7rem;
  color: black;
  background-color: black;
  height: 0.5rem;
}
.buthover:hover {
  background-color: #0066a6;
}
.sec-penyakitobat {
  height: 32.5vh;
}
.same {
  max-width: 30px;
  max-height: 30px;
  height: auto;
  width: 100%;
  margin: 0 5px 5px 5px;
}
.addbord {
  border-right: solid black 3px;
}

/* Penyaktit & Obat */

/* Kalkulator */
.sec-kalkulator {
  height: 42.5vh;
  margin-top: 7rem;
}
/* Kalkulator */

/* tanya dokter */
#dokter1 {
  height: auto;
  max-height: 200px;
  width: 100%;
  max-width: 200px;
}
.tanyadokbord {
  border-right: solid 3px;
}

#hubungi {
  margin-top: 9rem;
}

.btn-rata {
  width: 30px;
  height: 30px;
}

.btn-dokter:hover {
  background-color: none;
}

/* Media Query Halaman Kalkulator */
@media only screen and (min-width: 600px) {
  .medq1 {
    margin-top: 4%;
    margin-left: 36.6%;
    height: 87%;
  }

  .medq2 {
    margin-top: 4%;
    margin-left: 36.6%;
    height: 100%;
    width: 26%;
  }
  .medq3 {
    margin-top: 4%;
    margin-right: 37.5%;
    height: 85%;
    width: 26%;
  }
}
/* End Media Query Halaman Kalkulator */

/* Media Query Halaman cek rumkit  */

/* End Media Query Halaman cek rumkit  */

/* Media Query Smartphone*/
@media only screen and (min-width: 319px) and (max-width: 667px) {
  .button-login-nav {
    width: 100%;
    background-color: #0066a6 !important;
  }

  .same {
    max-width: 30px;
    max-height: 30px;
    height: auto;
    width: 100%;
    margin: 0 5px 5px 5px;
  }
  .sec-penyakitobat {
    height: auto;
  }
  .sec-kalkulator {
    height: auto;
    margin-top: 7rem;
  }
  .lh-lg {
    font-size: 0.6em;
  }
  .testi-tengah {
    display: flex;
    margin: 0 auto;
    text-align: center;
  }
  #vertical {
    transform: rotate(0deg);
    margin-top: 3rem;
    margin-bottom: 2rem;
    width: auto;
    color: black;
    background-color: black;
  }
  .sec-penyakitobat {
    height: auto;
    margin-bottom: 4rem;
  }

  .logo-login {
    max-width: 150px;
    width: 100%;
    margin: 1rem;
    border: none;
  }
  .bordernav {
    border-right: none;
  }
  .margin-nav {
    margin: 0;
  }
  .triangle {
    display: none;
  }

  .addbord {
    border-right: 0;
  }
  .tanyadokbord {
    border-right: 0;
  }
}
